@model IEnumerable<OctsProjectMvcTest.Models.Course>

<table>
    <tr>
        <th>
            Course Code
        </th>
        <th>
            Name/Title
        </th>
        <td>
            Schedule Information
        </td>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @foreach (var anAllocatedRoom in item.AllocatedRoomList)
            {
                <b>R.No.:</b>
                @Html.DisplayFor(modelItem=>anAllocatedRoom.Room.RoomNo)
                <i>,</i>
                @Html.DisplayFor(modelItem=>anAllocatedRoom.WeekDay.DayName)
                <i>,</i>
                @Html.DisplayFor(modelItem=>anAllocatedRoom.StartTime)
                <i>-</i>
                @Html.DisplayFor(modelItem=>anAllocatedRoom.EndTime)
                <i>;</i>                                 
            }
        </td>
        
    </tr>
}

</table>